{%extends 'user/base.html' %}

{% block content %}
    <center><h3>your leave applications</h3></center><br>
    <table style="background-color: whitesmoke; width: 75vw;">
        <tr>
            <th>S.No</th>
            <th>Id</th>
            <th>Subject</th>
            <th>Message</th>
             
             <th>Leave_date</th>
             <th>Status</th>
            
        </tr>

        {%for user in leave_status%}
        <tr class="bg-{{ 'success' if user[5] == 'Accepted' else 'danger' if user[5] == 'Rejected' else 'warning' }}">
            <td>{{loop.index}}</td>
            <td>{{user[0]}}</td>
            <td>{{user[1]}}</td>
            <td>{{user[2]}}</td>
            <!-- <td>{{user[3]}}</td> -->
            <td>{{user[4]}}</td>
            <td>{{user[5]}}</td>
            
            <!-- <td><a href="" style="color: crimson;">Accept</a>  | <a href="" >Reject</a></td> -->
        </tr>
    {% endfor %}
    </table>

    {% endblock %}
    
